#header{
	float: left;
}

header div img{
	margin-left: 30px;
	margin-right: 10px;
	position: relative;
}

header div h1{
	font-family: "Courier New", Courier, monospace;
	margin-top: 0px;
	font-size: 24px;
	color: purple;
}

header div h6 {
	margin-bottom: 0px;
}
#clear{
	clear: both;
}

footer{
	background-color: #50154f;
 	position:fixed;
    	height:250px;
    	bottom:0px;
    	left:0px;
    	right:0px;
    	margin-bottom:0px;

}

.footer-logo-info  {
	height:210px;
	padding: 40px 50px 40px 50px;
}
.footer-logo-info p{
	color:white;
	margin:0px;
	font-family:Arial;
	font-size:12px;
}

.footer-logo-info img {

	float: left;
	height:75px;

}
